.about_me {
  color:#ffffffb0 !important ;
  margin-top: 200px;
 
}

.abt-col {
  box-shadow: 2px 1px 32px #ffffff2d;
}

   @media (max-height:768px) {
    
    .abt-col {
      height: 700px !important;
    }

   }
  
