.navbar {
  background: transparent !important ;
  transition: all 0.35s ease;
 
 
}

.nav_scrolled {
  background: rgba(8, 8, 8, 2.74) !important;
  box-shadow: 0 8px 30px rgba(255, 255, 255, 0.103);
  border-bottom: 1px solid rgba(255, 255, 255, .2) ;

  @supports (backdrop-filter: blur(1px)) {
    background: rgba(8, 8, 8, 0.62) !important;
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  box-shadow: 0 8px 30px rgba(255, 255, 255, 0.103);
  border-bottom: 1px solid rgba(255, 255, 255, .2) ;
  }
}

.nav-link:hover, .active{
  cursor: pointer;
  transition: all 0.3s ease;
h5 {
  color: #c300ff !important;
}

div {
  border-color: #fff !important;
}

svg {
color:#fff !important;
}

}



.offcanvas {
  background: rgba(255, 255, 255, 0.755) !important;


  @supports(backdrop-filter: blur(1px)){
    transition: all 0.4s ease, !important;
  background: #00000094 !important;
    backdrop-filter: blur(25px) !important;
  -webkit-backdrop-filter: blur(25px) !important;
 width: 48% !important;
 border-right:1px solid #ffffff27 !important;
  }
  
}

.offcanvas-backdrop {
background: #2d0b3646 !important;

}

.logo-name h2{
  font-size: clamp(11px, 2vw, 22px) !important;
 font-weight: 800 !important;
  color: #c300ff;
  margin: 0;

  span {
    color: #fff;
  }
}




