.my_work{
  margin-top: 250px;
color:#ffffffb0 !important ;
 

.card {
    @media (min-width:768px){
      height: 725px !important;
    }
  }

  .project-card {
  background: #dbdbdb1a;
  
  

    .card_top {
      position: relative !important;
    
     
    }
 
    .swiper {
      width: 100% ;
    

      img {
     
      
      object-fit: contain;
      }
    }

   
  }
}