* {
  margin: 0;
  padding: 0;
}

a {
 background: none !important;
 border: none !important;
  text-decoration: none !important;
}

body {
   font-family: 'Plus Jakart Sans' !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 background: radial-gradient(#000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1dad );
 letter-spacing: 1px;


 @media (max-width:764px) {
  background: radial-gradient(#000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1d, #000000, #1d1d1da8,);
 }
}

h1,h2,h3, .logo-name {
font-family: 'syne';

}

